##python

In [3]:
a=45
b=35
print(a+b)

80

In [7]:
a="string"
b="name"
print(a+" "+b)

string name

In [9]:
a=123
b=160
if(a<b):
    print(a)
else:
    print(b)

123

In [11]:
a=700
b=800
if(a<b):
    print(a)
elif(a==b):
    print("equal")
else:
    print(b)

700

In [13]:
a="fizza.is.good"
print(a.split("."))

['fizza', 'is', 'good']

In [21]:
names=["fizza","ayesha","laiba","javeria"]
for i in names:
    print(i)

fizza
ayesha
laiba
javeria

In [35]:
						#Complex foor in loop
names=["ahmad","ali","mona","aleeza"]
height=[2.3,3.4,9.0,4.5]
weight=[23,45,67,45]
for i ,(name,h,w) in enumerate(zip(names,height,weight)):
    print(f"person{i+1}\n")
    print(f"name:{name}")
    print(f"height:{h}")
    print(f"weight:{w}")
    print("\n")

person1

name:ahmad
height:2.3
weight:23


person2

name:ali
height:3.4
weight:45


person3

name:mona
height:9.0
weight:67


person4

name:aleeza
height:4.5
weight:45

In [1]:
names=["ayesha","hina","aleeza","sania"]
iterable=iter(names)
while True:
    try:
        fruit=next(iterable)
        print(fruit)
    except:
        StopIteration
        break

ayesha
hina
aleeza
sania

In [41]:
names=["ayesha","hina","aleeza","sania"]
names.append("mashal")
print(names)

['ayesha', 'hina', 'aleeza', 'sania', 'mashal']

In [51]:
names=["ayesha","hina","aleeza","sania"]
names.insert(1,"fizza",)
print(names)

['ayesha', 'fizza', 'hina', 'aleeza', 'sania']

In [61]:
names=["ayesha","hina","aleeza","sania"]
names.extend("hamad")
print(names)

['ayesha', 'hina', 'aleeza', 'sania', 'h', 'a', 'm', 'a', 'd']

In [87]:
set1={2,3,4}
set2={2,6,8}
z=set1.union(set2)
print(z)

{2, 3, 4, 6, 8}

In [89]:
set3={"fizza","ayesha","amal"}
for i in set3:
    print(i)

amal
ayesha
fizza

In [93]:
z={"name":"fizza",
  "class":9,
  "degree":"bscs"}
for x,y in z.items():
    print(x,y)

name fizza
class 9
degree bscs

In [95]:
z["best"]="always"
print(z)

{'name': 'fizza', 'class': 9, 'degree': 'bscs', 'best': 'always'}

In [101]:
   def my_function():
  print("Hello from a function")

my_function()

Hello from a function

In [105]:
x="she is a beautiful girl"

try:
    print(x)
except:
    print("x is not defined")
else:
    print("nothing occured")        
print("she is a good girl")

she is a beautiful girl
nothing occured
she is a good girl

In [103]:
#a small snake water game
import random
comp=random.randint(0,2)
user=int(input("enter 0 for water,1 for snake and 2 for gun"))
print("you entred",user)
print("compter",comp)
if(comp==user):
    print("draw")
elif(comp==0 and user==2 or comp==1 and user==2 or comp==0 and user==1):
    print("you won")
else:
    print("you lost")

enter 0 for water,1 for snake and 2 for gun 2

you entred 2
compter 2
draw

In [15]:
n=0
while(n<=10):
    print(n)
    n=n+1

0
1
2
3
4
5
6
7
8
9
10

In [17]:
a=[1,2,3]
print(dir(a))     
print(a.__sizeof__)

['__add__', '__class__', '__class_getitem__', '__contains__', '__delattr__', '__delitem__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__getstate__', '__gt__', '__hash__', '__iadd__', '__imul__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__mul__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__reversed__', '__rmul__', '__setattr__', '__setitem__', '__sizeof__', '__str__', '__subclasshook__', 'append', 'clear', 'copy', 'count', 'extend', 'index', 'insert', 'pop', 'remove', 'reverse', 'sort']
<built-in method __sizeof__ of list object at 0x000001E38821BC00>

In [21]:
class employee:
    def __init__(self,name,job):
        self.name=name
        self.job=job
class job(employee):
    def __init__(self,name,job,lang):
        super().__init__(name,job)
        self.lang=lang
fizza=employee("fizza tehreem","SE")
ashi=job("Ayesha","DB manager","Python")
hamad=employee("hamad","SE")
print(ashi.__dict__) 
print(hamad.__dict__)

{'name': 'Ayesha', 'job': 'DB manager', 'lang': 'Python'}
{'name': 'hamad', 'job': 'SE'}

In [23]:
class oop:
    def __init__(self,i,j,k):
        self.i=i
        self.k=k
        self.j=j
    def __str__(self):
        return f"{self.i}i + {self.j}J + {self.k}K"
    def __add__(self,x):
        return f"{self.i+x.i}i + {self.j+x.j}J +{self.k+x.k}k"
vc=oop(3,4,5)
print(vc)
vl=oop(2,9,3)
print(vl)
cv=oop(2,5,4)
print(cv)

3i + 4J + 5K
2i + 9J + 3K
2i + 5J + 4K

In [31]:
mylist=list()
mylist.append("amna")
print(mylist)

['amna']

In [9]:
i=0
while(i<10 ):
    print(i,end=' ')
    i=i+1

0 1 2 3 4 5 6 7 8 9

In [11]:
x = "hello"

if not type(x) is int:
  raise TypeError("Only integers are allowed")

TypeError: Only integers are allowed

In [13]:
fruits = ("apple", "banana", "cherry")
mytuple = fruits * 2

print(mytuple)

('apple', 'banana', 'cherry', 'apple', 'banana', 'cherry')

In [31]:
myarray=[12,12,12,34,34,56,78,90]
myset=list(set(myarray))
print(myset)

[34, 12, 78, 56, 90]

In [17]:
my_list = [1, 2, 3, 4, 5,6,8,9,10,11,12,13,14,15,16]
print(my_list[::-1]) 
print(my_list[1::-2])

[16, 15, 14, 13, 12, 11, 10, 9, 8, 6, 5, 4, 3, 2, 1]
[2]

In [23]:
items=[1,2,3,4,5,6,7]
list=[]
for i in items:
    print(i)
    list.append(i)
print(list)

1
2
3
4
5
6
7
[1, 2, 3, 4, 5, 6, 7]

In [25]:
items = [1, 2, 3, 4, 5, 6, 7]
list_ = [i for i in items]
print(list_)

[1, 2, 3, 4, 5, 6, 7]

In [37]:
numbers = [1, 2, 3, 4, 5]
double_numbers = list(map(lambda x: x * 2, numbers))
print(double_numbers)

TypeError: 'list' object is not callable

In [35]:
numbers = (1, 2, 3, 4, 5)
double_numbers = tuple(map(lambda x: x * 2, numbers))
print(double_numbers)

(2, 4, 6, 8, 10)

In [39]:
person = {'name': 'John', 'age': 30}
uppercase_name = dict(map(lambda item: (item[0], item[1].upper()), person.items()))
print(uppercase_name)

AttributeError: 'int' object has no attribute 'upper'

In [41]:
def square(x):
    return x ** 2

numbers = [1, 2, 3, 4, 5]
squares = list(map(square, numbers))
print(squares)

TypeError: 'list' object is not callable